<% @posts.each do |post| %>
  <div class="post-wrapper">
    <article>
      <h1 class="post-title"><%= link_to post.title, post %></h1>
      <p class="post-date">
        Submitted <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </article>
  </div>
<% end %>