<% if @posts.count < 1 %>
  <div class="section">
    <% if user_signed_in? %>
      <p>It looks like you haven't created any posts. <%= link_to "Click here", new_post_path %> to add one now!</p>
    <% else %>
      <p>It looks like there aren't any posts yet. Please check back again later!</p>
    <% end %>
  </div>

<% end %>

<% @posts.each do |post| %>
  <div class="post-wrapper">
    <article>
      <h1 class="post-title"><%= link_to post.title, post %></h1>
      <p class="post-date">
        Submitted <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </article>
  </div>
<% end %>