// Global styles

html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  color: #33acb7;
  text-decoration: none;

  &.danger {
    color: lightcoral;

    &:hover {
      color: lighten(lightcoral, 10%);
    }
  }

  &:hover {
    color: lighten(#33acb7, 15%);
  }
}

// Site wrapper
.site-wrapper {
  margin-left: 250px;

  .links {
    margin: 2em 0;
  }

  .section {
    padding: 3em;
  }
}

// Page wrapper
.page-wrapper {
  padding: 3em;

  .profile-image {
    width: 300px;
    float: left;
    margin-right: 2em;
    img {
      width: 100%;
      border-radius: 0.35em;
    }
  }

  .content {
    h1 {
      font-weight: 500;
    }

    p {
      font-size: 1.1em;
      line-height: 1.75;
    }

    a {
      color: #33acb7;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

// Wrapper for posts on INDEX Page
.post-wrapper {
  padding: 3em;
  border-bottom: 1px solid #d6dce0;

  .post-title {
    margin: 0;

    a {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 1.5em;

      &:hover {
        color: #33acb7;
      }
    }
  }

  .post-date {
    color: #9eafba;
    margin: .5em 0 0;
  }
}

// Wrapper for post on SHOW page
.post-content {
  padding: 1em 3em;

  .post-title {
    color: #2a2f35;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 0;
    text-decoration: none;
  }

  .post-body {
    font-size: 1.1em;
    line-height: 1.75;
  }

  .post-details {
    margin: .5em 0 2em;

    .date {
      color: #9eafba;
    }
  }
}


// Comments wrapper
.comments-wrapper {
  h2 {
    border-bottom: 1px solid #d6dce0;
    margin: 3em 0 1em 0;
    padding-bottom: 0.5em;
  }

  h3 {
    margin-top: 2em;
  }

  .comment {
    border-bottom: 1px solid #d6dce0;
    padding: 1.5em 2em;

    .clear-both {
      clear: both;
    }

    &:after {
      clear: both;
    }

    .comment-content {
      float: left;

      .comment-name {
        margin: 1em 0 0;
        font-size: 0.7em;
        text-transform: uppercase;
      }

      .comment-body {
        font-size: 1.2em;
        margin: 0.2em 0 0;
      }

      .comment-time {
        margin-top: 1.2em;
        font-size: .8em;
      }
    }

    .button {
      float: right;
    }
  }

  input[type="text"],
  textarea {
    width: 50%;
  }
}
