<div id="sidebar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <ul>
    <li class="category">Website</li>
    <li><%= link_to "Blog", root_path %></li>
    <li>About</li>
  </ul>
  <ul>
    <li class="category">Social</li>
    <li><a href="#">Linkedin</a></li>
    <li><a href="#">Portfolio</a></li>
  </ul>
  <a href="#" class="sign-in">Login</a>
</div>