<div class="top-bar">
    <p><%= link_to "All Posts", root_path %></p>
  <div class="top-bar-right">
    <%= link_to "New Post", new_post_path, class: "button" %>
    <%= link_to "Logout", new_post_path, class: "button" %>
  </div>
</div>