// alert styles

.alert-box {
  text-align: center;
  padding: 20px;

  &.success {
    background-color: lightseagreen;
    color: #fff;
  }

  &.notice {
    background-color: lightcyan;
  }

  &.alert {
    background-color: lightgoldenrodyellow;
  }

  &.danger {
    background-color: lightcoral;
    color: #fff;
  }
}
