<div class="page-wrapper">
  <div class="profile-image">
    <%= image_tag "profile.jpg" %>
  </div>
  <div class="content">
    <h1>Hey, I'm Elliott</h1>
    <p>I'm a front-end engineer working in Tokyo.</p>
    <p>I wasn't always a developer. I used to study in history and economics, but I discovered my passion for web development while working as a teacher in Japan. I began my journey by building simple websites and games in HTML/CSS/JavaScript.</p>
    <p>After finishing my job in Japan, I moved back to Seattle, where I studied full-stack web development at the famous Coding Dojo bootcamp in Bellevue, WA. Soon after graduating, I was working as an application developer for a company in downtown Seattle called CDK Global, before I got a job in Tokyo working for Metaps.</p>
    <p>If you would like to get in contact with me, please check me out on <a href="#">Linkedin</a> and <a href="#">GitHub</a></p>
  </div>
</div>